
header{
    
    background-color: rgb(2, 68, 2);
    padding-top: 10px;
    padding-bottom: 8px;
    opacity: 80%;
    text-align: right;
}
h1{
    text-align: center;
    color: beige;
    text-decoration-line: overline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
.Formulario{
    width: 320px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(27, 26, 26);
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.Formulario .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  .Formulario h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .Formulario label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  .Formulario input[type="text"], .Formulario input[type="password"], .Formulario input[type="email"] {
    border: none;
    border-bottom: 1px solid rgb(145, 143, 143);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(241, 237, 237);
    font-size: 16px;
  }
  .Formulario input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #4fb88cb9;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  .Formulario input[type="submit"]:hover {
    cursor: pointer;
    background: #23750b;
    color: #000;
  }
  .Formulario a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  .Formulario a:hover {
    color: rgb(228, 220, 220);
  }
  .Encabezado a{
      color: beige;
      text-align: right;
  }
  .Encabezado a:hover{
      color: beige;
  }
  .Encabezado .logo{
    width:30px;
    height: 30px;
    position: relative;
  }

